
/*.svg-wrapper {
  position: relative;
  top: 10%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
  font-style:bold;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: 0px;
  position: relative;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
*/

#header-text {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

#header-text-no-hover {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

#header-text:hover {
  font-size: 1.3em;
  color:yellow;
}

#brand-heading {  
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  color: #fff;
}

.input-group {
  position: relative;
  padding-right:10px;
  float: right;
  overflow: hidden;
  padding-bottom: 0px;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.form-control {
  position: absolute;
  outline: none;
  border: none;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  z-index: 10;
  font-size: 16px;
  font-family: inherit;
}

/*
.navbar-nav li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}*/
