body { 
	padding-bottom: 70px; 
}

.morning { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/background.jpg) no-repeat;
	background-size: 100% 100%; 
}

.sunset { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/evening.jpg) no-repeat;
	background-size: 100% 100%; 
}

.night { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/night.jpg) no-repeat; 
	background-size: 100% 100%;
}

.roadtrip { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/road_trip.jpg) no-repeat; 
	background-size: 100% 100%;
}

#main-container {
	margin-top:70px;
	margin-left: auto;
	margin-right: auto;
}

#technieks-logo-main {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#poster-image {
	margin-bottom: 60px;
}

#date-text {
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

/*.news-feed {*/
	/*font-family: 'Montserrat', sans-serif;*/
/*}*/


@media only screen and (max-width:738px) {
#date-text {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}}