body { padding-bottom: 70px; }

.morning { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/background.jpg) no-repeat;
	background-size: 100% 100%; 
}

.sunset { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/evening.jpg) no-repeat;
	background-size: 100% 100%; 
}

.night { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/night.jpg) no-repeat; 
	background-size: 100% 100%;
}

.roadtrip { 
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url(../images/road_trip.jpg) no-repeat; 
	background-size: 100% 100%;
}


.main-container {
	margin-top:60px;
	margin-bottom: 80px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

.pitures {
	padding:0 0 0 0;
 	margin:0 0 0 0;
}

.image-list {
	list-style:none;
	margin-bottom:25px;
}

.image {
	cursor:pointer;
}

.glyphicon-remove-circle:hover {
      cursor: pointer;
    }

.modal-body {
        padding:5px !important;
}

.modal-content {
	border-radius:0;
}

.modal-dialog img {
	text-align:center;
	margin:0 auto;
}

.controls{          
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;          
}

.next {
    float:right;
    text-align:right;
}

#gallery-heading {
	padding-top:20px;
	padding-bottom: 20px;
}